<section class="container">
  <h1>
    Lançamentos
  </h1>

  <section class="grid">
    <div class="col-12 sm:col-6 lg:col-4">
      <input class="w-12" type="text" placeholder="Buscar lançamento" pInputText [(ngModel)]="value" />
    </div>
    <div class="col-12 sm:col-6 lg:col-5">
      <div class="flex align-items-center">
        <p-calendar [(ngModel)]="dateStart" [showIcon]="true" pTooltip="Data inical" tooltipPosition="top"></p-calendar>
        <label class="mx-2 font-semibold">Até</label>
        <p-calendar [(ngModel)]="dateEnd" [showIcon]="true" pTooltip="Data final" tooltipPosition="top"></p-calendar>
      </div>
    </div>
    <div class="col-12 sm:col-6 lg:col-2">
      <button class="w-full" pButton type="submit" label="Pesquisar" pTooltip="Pesquisar por Data" tooltipPosition="top"></button>
    </div>
    <div class="col-12 sm:col-6 lg:col-1">
      <button class="w-full btn-success" pButton type="submit" label="Novo" pTooltip="Novo lançamento" tooltipPosition="top"></button>
    </div>
  </section>

  <p-table
    [value]="products"
    [tableStyle]="{ 'min-width': '50rem' }"
    [paginator]="true"
    [rows]="8"
  >
    <ng-template pTemplate="header">
        <tr>
            <th>Nome</th>
            <th>Categoria</th>
            <th>Quantidade</th>
            <th>Valor</th>
            <th style="width: 5rem">
              Ações
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.category }}</td>
            <td>{{ product.quantity }}</td>
            <td [style.color]="product.inventoryStatus === 'DESPESA' ? 'red' : 'blue'">{{ product.price }}</td>
            <td class="flex">
              <button class="mr-3 p-button-text" type="button" pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"></button>
              <button class="p-button-danger p-button-text" type="button" pButton icon="pi pi-trash" pTooltip="Excluír" tooltipPosition="top"></button>
            </td>
        </tr>
    </ng-template>
  </p-table>
</section>
