.container {
  padding: 20px;
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
    margin: 0 auto;
  }
}

.btn-success {
  background-color: #47b487;
  border-color: #47b487;
}
.btn-success:hover {
  background-color: #44ab80;
  border-color: #44ab80;
}
